extends layout 

block content
     p What more is there to say it's a box YOUR box
     p Boxes can be made in any size for any need
     p Water resistant cardboard box, high strength card board with inside padding for shipping,
     p and many many more. What you waiting for get a box today.
     img(src="./images/beansandrice.jpg")