extends layout 

block content 
    H3  Our start
    p The burning passion for the project behind The Boxing Co
    p it all started with a man that needed a box multiple times
    p trought the week but he just couldn't get anything in the size
    p he wanted quickly and then he got to wondering about chaging up the boxes

    img(src="./images/beans.jpg")